<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List</title>

    <!-- Load Angular -->
    <script src="/angular/angular.min.js"></script>

    <!-- My App -->
    <script src="/index.js"></script>

    <link rel="/index.css">
</head>

<body ng-controller="TodoCtrl as todoCtrl">
    <h2>Add To-Do</h2>
    <form name="todoForm" novalidate ng-submit="todoCtrl.addToList()">
        <label name="item">To-Do</label>
        <input id="item" name="item" type="text"  ng-model="todoCtrl.todoItem">
        <button type="submit">Add</button>
    </form>
        <h2>My list</h2>

		<h1> searchText = {{ todoCtrl.searchText }} </h1>

		Search: <input type="text" size="30" ng-model="todoCtrl.searchText">

		<ol>
			<li ng-repeat="td in todoCtrl.todoList | filter:todoCtrl.searchText track by $index" 
					ng-class="{'pink-bg': $odd}">
				<p> 
					{{ td | uppercase }}
					<button type="button" ng-click="todoCtrl.delete($index)"> Delete </button> 
				</p>
				<code>$index = {{ $index }}, $odd = {{ $odd }}, $last = {{ $last }}</code> 
			</li>
		</ol>
</body> 

</html>